<link rel="stylesheet" href="~/css/seat-selection.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/seat-selection.js" defer></script>


<div class="movie-container">
    <label>Pick a movie:</label>
    <select id="movie">
        <option value="10">Avengers: Endgame ($10)</option>
        <option value="12">Joker ($12)</option>
        <option value="8">Toy Story 4 ($8)</option>
        <option value="9">The Lion King ($9)</option>
    </select>
</div>

<ul class="showcase">
    <li>
        <div class="seat"></div>
        <small>N/A</small>
    </li>
    <li>
        <div class="seat selected"></div>
        <small>Selected</small>
    </li>
    <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
    </li>
</ul>

<div class="container">
    <div class="screen"></div>

    <div class="row" data-row="A">
        <div class="seat" data-seat="1"></div>
        <div class="seat" data-seat="2"></div>
        <div class="seat" data-seat="3"></div>
        <div class="seat" data-seat="4"></div>
        <div class="seat" data-seat="5"></div>
        <div class="seat" data-seat="6"></div>
        <div class="seat" data-seat="7"></div>
        <div class="seat" data-seat="8"></div>
    </div>
    <div class="row" data-row="B">
        <div class="seat" data-seat="1"></div>
        <div class="seat" data-seat="2"></div>
        <div class="seat" data-seat="3"></div>
        <div class="seat" data-seat="4"></div>
        <div class="seat" data-seat="5"></div>
        <div class="seat" data-seat="6"></div>
        <div class="seat" data-seat="7"></div>
        <div class="seat" data-seat="8"></div>
    </div>
    <div class="row" data-row="C">
        <div class="seat" data-seat="1"></div>
        <div class="seat" data-seat="2"></div>
        <div class="seat" data-seat="3"></div>
        <div class="seat" data-seat="4"></div>
        <div class="seat" data-seat="5"></div>
        <div class="seat" data-seat="6"></div>
        <div class="seat" data-seat="7"></div>
        <div class="seat" data-seat="8"></div>
    </div>
    <div class="row" data-row="D">
        <div class="seat" data-seat="1"></div>
        <div class="seat" data-seat="2"></div>
        <div class="seat" data-seat="3"></div>
        <div class="seat" data-seat="4"></div>
        <div class="seat" data-seat="5"></div>
        <div class="seat" data-seat="6"></div>
        <div class="seat occupied" data-seat="7"></div>
        <div class="seat occupied" data-seat="8"></div>
    </div>
    <div class="row" data-row="E">
        <div class="seat occupied" data-seat="1"></div>
        <div class="seat" data-seat="2"></div>
        <div class="seat" data-seat="3"></div>
        <div class="seat occupied" data-seat="4"></div>
        <div class="seat occupied" data-seat="5"></div>
        <div class="seat occupied" data-seat="6"></div>
        <div class="seat" data-seat="7"></div>
        <div class="seat" data-seat="8"></div>
    </div>
    <div class="row" data-row="F">
        <div class="seat" data-seat="1"></div>
        <div class="seat" data-seat="2"></div>
        <div class="seat occupied" data-seat="3"></div>
        <div class="seat occupied" data-seat="4"></div>
        <div class="seat" data-seat="5"></div>
        <div class="seat" data-seat="6"></div>
        <div class="seat" data-seat="7"></div>
        <div class="seat" data-seat="8"></div>
    </div>
</div>

<p class="text">
    Total seats: <span id="count">0</span> - $<span id="total">0</span><br>
    Seats selected: <span id="seat-ids">None</span>
</p>
