@model IEnumerable<MvcMovie.Models.Ticket>

@{
    ViewData["Title"] = "Checkout";
}

<h2 class="text-muted">Checkout</h2>
@* Include the seat selection partial view *@
@Html.Partial("_SeatSelection")

@* Include the checkout partial view *@
@Html.Partial("_Checkout")
